<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="mailto:{{email}}" target="_blank">{{email}}</a> 様
<p>いつもOOnaviサイトをご利用いただ誠にありがとうございます。</p>
<p>再設定につきまして次の通りご案内いたします。</p>
<h5>●パスワード再設定方法：</h5>
<p>下記コードを、新たにパスワードをご設定ください。</p>
<p>コード: <span style="border-style: solid;border-width: 1px;border-color: rgba(0,0,0,0.32); padding: 2px;">{{code}}</span></p>
<h5>●ご注意：</h5>
<p>このコードは、受信後、2時間以内、1回のパスワードの変更に限りが有効です。</p>
<p>アクセスキーが無効となっている場合は、【アクセスキーが有効でありません】と表示されます。お手数ですが再度、パスワード再設定のお手続きをお願いいたします。</p>
<p>ご不明な点がございましたら、OOnaviサイトお客様窓口まで、お問い合わせください。</p>
<p>今後とも、OOnaviサイトをご愛顧くださいますよう宜しくお願い申し上げます。</p>

<h5>※本メールは送信専用です。このままご返信いただいてもお答えできませんのでご了承頂きます様お願い申し上げます。</h5>
<h5>※本メールは、OOnaviサイトの会員登録時にお客様にご入力いただいたメールアドレス宛へ送信しております。</h5>
<p>万が一、メールの内容にお心当たりがない場合は、弊社お客様窓口までご連絡を頂きますようお願い申し上げます。</p>

<p>---------------------------------------------------------</p>

<a href="http://oonavi.jp/inquiry" target="_blank">OOnaviサイトお問い合わせへ</a>

<p>---------------------------------------------------------</p>
</body>
</html>