<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>{{name}} 様</p>
<p>いつもOOnaviサイトをご利用いただき誠にありがとうございます。</p>
<p>頂きましたお問い合わせの弊社お問合せ番号: <span style="border-style: solid;border-width: 1px;border-color: rgba(0,0,0,0.32); padding: 2px;">{{code}}</span></p>
<p>本件、確認を致しました上でご連絡を差し上げますので、</p>
<p>ご回答まで今しばらくお時間を頂けますようお願い申し上げます。</p>


<p>なお、このメールは送信専用のメールアドレスからお送りしております。このメールに返信いただきましてもご対応致しかねますのでご了承いただきますよう宜しくお願い申し上げます。</p>
<p>万一、本メールの内容にお心当たりがない場合は、 下記のお問い合せ窓口までご連絡いただけますようお願い申し上げます。</p>

<p>---------------------------------------------------------</p>

<a href="http://oonavi.jp/inquiry" target="_blank">OOnaviサイトお問い合わせへ</a>

<p>---------------------------------------------------------</p>
</body>
</html>